
.guide {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	float: left;
}

.fillBlanks {
	height: 150px;
	margin-top: 10px;
	border: solid black 2px ;
}

.transcript {
	margin-left: 5px;
	font-size: 15px;
	padding: 5px 5px 5px 5px;
}

.wrapper {
	margin-top: 20px;
	text-align: center;
}

#listenResult {
	visibility: hidden;
}